/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "DM Sans", serif;
  font-family: "Inter", serif;

  font-optical-sizing: auto;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  background-color: #c3c7cb;
  color: #000;
  
}

body {
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #000;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  font-family: "VT323", serif;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #c3c7cb;
  color: #000;
  width: 100%;
  height: 45px;
  padding: 20px;
  font-size: rem;
  font-weight: 400;
  border-bottom: 2px solid #fff;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #000;
}

.footer {
  font-family: "VT323", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c3c7cb;
  color: #000;
  width: 100%;
  height: 45px;
  padding: 20px;
  font-size: rem;
  font-weight: 400;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #000000;
}

.logo {
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 5px 15px;
  background-color: #c8c9cc;
  color: rgb(0, 0, 0);
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #000;
}

/* App Container */
#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
  margin: auto auto;
  /* margin-top: 60px; */
  letter-spacing: -1px;
}

/* Price Box */
#price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0;
  font-size: 1.5rem;
  height: 60px;
  width: 100%;
  font-family: "VT323", serif;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #000;
}

.label-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 20px;
  width: 96%;
  height: 57px;
  /* background: #e0e0e0; */
  margin: auto;
}

.price-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-left: 10px;
}

#toggle-price-btn,
#toggle-register-btn {
  font-family: "VT323", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 2rem;
  letter-spacing: -1px;
  background-color: #e0e0e0;
  color: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #000;
}

#toggle-register-btn:hover {
  background-color: #d0d0d0;
}

.price-amount.editing {
  color: red; /* This is for when the price is being edited */
}

.selected {
  border: 1px solid #007bff; /* Blue border to indicate selection */
  border-radius: 0;
}

/* Keypad */
.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  font-size: 2rem;
  padding: 20px;
  text-align: right;
  border: 1px solid #333;
  border-radius: 0;
  background-color: #e0e0e0;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-family: "Geo", serif;
  font-family: "VT323", serif;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #000;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-family: "Geo", serif;
  font-family: "VT323", serif;
}

.key {
  /* font-weight: 700; */
  font-size: 2rem;
  padding: 15px;
  text-align: center;
  background-color: #e0e0e0;
  color: #000;
  border-radius: 0;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #000;
}

.key:hover {
  background-color: #d0d0d0;
}

.clear {
  grid-column: 3; /* Place it in the last column */
  background-color: #e0e0e0;
  color: #000;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #000;
}

.clear:hover {
  background-color: #d0d0d0;
}

button {
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  color: #000;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  letter-spacing: -1px;
  height: 60px;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #000;
}

#purchase-btn,
#reset-btn {
  font-size: 2rem;
  font-family: "VT323", serif;
}

button:hover {
  background-color: #d0d0d0;
}

/* Register */
#change-due {
  font-family: "VT323", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #000000;
  color: #ffffff;
  font-size: 2rem;
  height: 100%;
  border: 1px solid #333;
  box-shadow: inset 2px 2px 0 #ffffff, inset -2px -2px 0 #ffffff;
}

.change-container {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

.alert-screen {
  display: flex;
  justify-content: start;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  padding: 12px 20px;
  box-shadow: inset 2px 2px 0 #ffffff, inset -2px -2px 0 #ffffff;
}

.change-amount {
  font-size: 2rem;
}

.register {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-family: "Geo", serif;
  font-family: "VT323", serif;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e0e0e0;
  color: #000;
  border-radius: 0;
  font-size: 2rem;
  height: 60px;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #222;
}

.register-amount {
  font-size: 2rem;
}

/* Units Grid */
.units-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 5px;
}

.unit {
  text-align: center;
  background-color: #e0e0e0;
  color: #000;
  border-radius: 0;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #222;
}

.unit .label {
  font-size: 1.2rem;
}

.label {
  background-color: #d0d0d0;
  color: #000;
  padding: 10px;
  border-radius: 0;
}

.unit .amount,
.amount {
  font-size: 1.5rem;
  padding: 5px;
}

/* Media Queries */
@media (max-width: 600px) {
  #app {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .price-box {
    flex-direction: column;
  }

  .container {
    margin-bottom: 30px;
  }

  .register {
    margin-bottom: 60px;
  }
}